*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    padding: 15px;
}
h1{
    text-align: center;
    padding-bottom: 30px;
}
p{
    padding-bottom: 20px;
}
